<%- include('../../header.ejs') %>

<section class="mtb-25">
  <div class="container bg-white mt-md-4">
    <div class="body-content">
      <div class="row mt-md-4">
        <div class="col-md-3">
          <div class="dash-left">
            <ul>
              <li class="active">
                <a href="/admin/dashboard" class="active nav-link">Dashboard</a>
              </li>
              <li><a href="/admin/blogdisplay" class="">Display Blog</a></li>
              <li><a href="/admin/categorydisplay" class="">Categories</a></li>
              <li><a href="/admin/contactdisplay" class="">Contact</a></li>
              <li><a href="/about" class="">About</a></li>
              <li><a href="/login" class="">Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="dash-right">
            <div class="dash-header">
              <div class="dash-title">
                <h1 style="color: #386576">Category  view</h1>
              </div>
              <div class="dash-nav">
                
              </div>
            </div>
          </div>
          <table class="table-bordered table-striped mb-5">
            <tr class="table_heading text-white text-center">
              <th>ID No.</th>
              <th>Title</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            
              <tr>
                <td><%= view._id %></td>
                <td><%= view.title %></td>
                <td><%= view.description %></td>
  
                <td>
                  <a href="/categoryview/<%= view._id %>" class="btn btn-warning btn-lg action-btn"
                    ><i class="fa-solid fa-eye"></i
                  ></a>
                  <a href="" class="btn btn-warning btn-lg action-btn"
                    ><i class="fa-regular fa-pen-to-square"></i
                  ></a>
                  <a href="" class="btn btn-warning btn-lg action-btn"
                    ><i class="fa-solid fa-trash"></i
                  ></a>
                </td>
              </tr>

           
           
          </table>
        </div>
      </div>
      <!----row-end----->
    </div>
  </div>
  <!---container--end---->
</section>



<%- include('../../footer.ejs') %>
