<%- include('../../header.ejs') %>

<%- include('../adminsidebar.ejs') %>

<div class="d-md-flex justify-content-md-start py-0 blogedit">
    <div class="dash-title col-md-7">
        <h1 style="color: #386576">Blog update</h1>
        <form action="/blogupdate/<%= edit._id %>"  method="post" enctype="multipart/form-data"> 
            <div class="mb-3">
                <label for="">title</label>
                <input type="text" name="title" class="form-control" value="<%=edit.title %>">
            </div>
            <div class="mb-3">
                <label for="">description</label>
                <textarea name="description"   class="form-control"  id="" cols="30" rows="10"><%= edit.description %></textarea>
                
            </div  >
            <div class="mb-3">
                <label for=""> upload image</label>
                <input type="file" name="image" class="form-control">
            </div>
            <div class="mb-3">
                <img src="<%= edit.image.url %>" alt="" width="120px" />
            </div>
            <button type="submit"  class="btn btn-warning ">update</button>
        </form>
        
      </div>
</div>





<%- include('../../footer.ejs') %>
